<!--The content below is only a placeholder and can be replaced.-->
<div style = "text-align:center">
  <h1>
     Welcome to {{title}}.
  </h1>
  <div style="text-align: center;">
    <b>Different cases:</b><br/>
    {{title | uppercase}}<br/>
    {{title | lowercase}}
  </div>
<p> Start editing to see some magic happen :) </p>
</div>
<div style = "text-align:center">
  <span appChangeText ><b>Welcome to {{title}}.</b></span>
</div>
<div style="text-align: center;">
  <b>Date pipe:</b><br/>
  {{todaydate | date:'d/M/y'}}<br/>
  {{todaydate | date:'shortTime'}}
</div>
<br />
<div style="text-align: center;">
<a routerLink = "new">New component</a>
</div>
<br />
<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" style="text-align:center">
  <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
  <br/>
  <br/>
  <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
  <br/>
  <br/>
  <input type = "submit" value = "submit">
</form>
<br/>
<br/>
<div style="text-align:center">
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
     <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
        formControlName="emailid">
     <br/>
     
     <input type = "password" class = "fortextbox" name="passwd" 
        placeholder = "passwd" formControlName = "passwd">
     <br/>
     
     <input type = "submit" class = "forsubmit" value = "Log In">
  </form>
</div>
<p style="text-align:center">
  Email entered is : {{emailid}}
</p>
<br/>
<app-parent></app-parent>
<router-outlet></router-outlet>
<app-dropdown></app-dropdown>