<div style = "text-align:center">Country:
    <select [(ngModel)]="Country">
      <option [ngValue]="null" disabled>Select Country</option>
      <option *ngFor="let Country of countries" [ngValue]="Country.id">{{Country.name}}</option>
    </select>
</div>
<div style="text-align: center;"> Months :
  <select (change) = "changemonths($event)" name = "month">
     <option *ngFor = "let i of months">{{i}}</option>
  </select>
</div>
<div style="text-align: center;">
  <span *ngIf = "isavailable;then condition1 else condition2">Condition is valid.</span>
  <ng-template #condition1>Condition is valid from template</ng-template>
  <ng-template #condition2>Condition is invalid from template</ng-template>
</div>
<div style="text-align: center;">
  <button (click)="myClickFunction($event)">
    Click Me
  </button>
</div>
<div class="parent" >
  <table class="table">
    <tr>
      <th>ID</th>
      <th>NAME </th>
      <th>Email </th>
      <th>Phone</th>
      <th>Username</th>
      <th>Website</th>
      <th>Company </th>
      <th>Adress</th>
    </tr>
    <tr *ngFor="let i of userinfo" >
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.phone}}</td>
      <td>{{i.username}}</td>
      <td>{{i.website}}</td>
      <td>{{i.company.name}}</td>
      <td>{{i.address.city}}</td>
    </tr>
  </table>
</div>
