button{
    text-align: center;
}
.parent{
    font-family: 'Trebuchet MS',Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

.table{
    text-align: center;
}
.table tr:hover{
    background-color: #ddd;
}
.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table th{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(89, 0, 255);
    color: white;
}
.pa{
    background-color: orange;
}
.parentInfo{
    background-color: orange;
}